/* 存储项目自定义公共样式 */
html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

/* element 公共样式  */
.el-button--primary,
.el-message-box .el-button--primary  {
  background-color: #158bb8;
  border-color: #158bb8;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #158bb8;
}

*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 2px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 2px;
}
*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background: #158bb8;
}
*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}

// 图片上传
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center;
}
.avatar {
  height: 160px;
  min-width: 160px;
  object-fit: cover;
  display: block;
}
